<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>M&M Chatoo 1.0 Alpha</title>
		<meta http-equiv="Page-Enter" content="blendTrans(Duration=0.3)" />
		<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
		<style type="text/css">
			<!--
			body
			{
				background-color: #D1DCEB;
				color: #000;
				font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 12px;
			}
			a
			{
				color: #000055;
			}
			a:hover
			{
				color:#333377;
                         text-decoration:underline;
			}
			.table
			{
				border: 1px solid #345487;
				margin: 2px;
				padding: 1px;
				background-color: #D1DCEB;
				text-align: center;
			}
			.trows
			{
				border: 1px solid #FFFFFF;
			}

			.textarea
			{
				font-size: 11px;
				color: #FFFFFF;
				background-color: #05536D;
				border: 1px solid #FFFFFF;
				overflow: hidden;
			}
			-->
		</style>
<script language='Javascript' type='text/javascript' src='m&m.js'></script>
	</head>
	 <body>
<center><div><img src='img/services.gif'/><img src='img/logo4.jpg'/><img src='img/tool.gif'/></div></center><br>

		<div align="center">
		<h3>M&M Chatoo 1.0 Alpha</h3>
		<table width="80%" cellpadding="3" cellspacing="3" class="table">
			<tr>
				<td>
      <div class='inner'>
      <table width='100%' cellspacing='0' cellpadding='0' border='0'>
        <tr>
          <td class='nopad'><img src='img/top_left.gif' border='0' alt='' /></td>
          <td class='tbl_top'>&nbsp;</td>
          <td class='nopad'><img src='img/top_right.gif' border='0' alt='' /></td>
        </tr>
        <tr>
          <td >&nbsp;</td>
          <td  align='center'>
    
            <span class='title_desc'>Created By:  <a href='http://www.invisioneyes.com' target='_blank'>mohamed</a></span><br /><br>
            <img src='img/nav.gif' border='0' alt='' /> <span class='header'>Do The Following Edits</span><br /><br />
            <!--Start.index.php-->
            <img src='img/nav_m_dark.gif' border='0' alt='' /> <b>Open Up:</b> <u>sources/classes/class_display.php</u><br />
            <!--Start.Edit--><br>
            Find:<br />
            <textarea id='txt_1' rows='5' cols='85'>		//-----------------------------------------
		// Board offline?
		//-----------------------------------------</textarea><br />
        <br /><br />
            Add Above:<br/>
            <textarea id='txt_2' rows='14' cols='85'>	    //-----------------------------------------
            // M&M Build the Shoutbox 
	    //-----------------------------------------
		if($this->ipsclass->member['g_chatoo_on'] == 1)
		{
		require_once( ROOT_PATH."sources/action_public/mohamedmods/chatoo/kernel.php");
        $this->moha = new chatoo_extra();
		$this->moha->ipsclass =& $this->ipsclass; 

		$setup = $this->ipsclass->compiled_templates['skin_global']->chatoo();
		$chatoo = $this->moha->html_add_smilie_box($setup);}</textarea><br />
           <input type='button' value='Copy' onclick='moh.cpy(2)' class='hand' /><br /><br />
            <!--End.Edit-->
           <!--Start.Edit--><br>
            Then Find:<br />
            <textarea id='txt_1' rows='4' cols='85'>        $this->ipsclass->skin['_wrapper'] = str_replace( "<% CSS %>"            , $css                                , $this->ipsclass->skin['_wrapper']);</textarea><br />
        <br /><br />
            Add Above:<br/>
            <textarea id='txt_3' rows='4' cols='85'>if($this->ipsclass->member['g_chatoo_on'] == 1)
		{		$this->ipsclass->skin['_wrapper'] = str_replace( "<% CHATOO %>"     , $chatoo                                  , $this->ipsclass->skin['_wrapper']);}else{$this->ipsclass->skin['_wrapper'] = str_replace( "<% CHATOO %>"     , ''                                 , $this->ipsclass->skin['_wrapper']);}</textarea><br />
           <input type='button' value='Copy' onclick='moh.cpy(3)' class='hand' /><br /><br />
            <!--End.Edit-->
            <b>Save &amp; Close:</b> <u>sources/classes/class_display.php</u><br /><br /><br /><br />
            <!--End.index.php-->
            <input type='button' value='Continue Edits...' onclick="moh.go_to('ad_groups_php.html')" class='hand' />
          </td>
          <td class='tbl_right'>&nbsp;</td>
        </tr>
        <tr>
          <td class='nopad'><img src='img/bottom_left.gif' border='0' alt='' /></td>
          <td class='tbl_bottom'>&nbsp;</td>
          <td class='nopad'><img src='img/bottom_right.gif' border='0' alt='' /></td>
        </tr>
      </table></div>
    </td>
  </tr>
</table><br />
<table width="80%" cellpadding="3" cellspacing="3" class="table">
		<tr>
			<td valign="middle">M&M Chatoo © 2006 <a href="http://www.invisioneyes.com" target="_blank">mohamed</a></td>
		</tr><br>

		</table>
		</div>
	</body>
</html>